@charset "utf-8";
body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    width: auto;
    background-size: cover;
}
wrapper {
    width: 1366px;
    margin: 0 auto;
    display: block;
}
.Aliceonthecliff {
    background-image: url(../image/Screenshot%202026-03-02%20123633.png);
    color: #FFFFFF;
    font-size: 50px;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0px;
    text-align: center;
    background-attachment: fixed;
}
body nav a {
    color: #27555B;
    text-decoration: none;
}
.navlist   {
    list-style-type: none;
    background-color: #FFFFFF;
    overflow-x: hidden;
    text-align: center;
    font-style: italic;
}
.navlistitem {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    font-style: italic;
}



h1 {
    margin-top: 92px;
    text-align: center;
    padding-left: 0px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    background-attachment: fixed;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
footer {
    clear: both;
    position: fixed;
    color: #FFFFFF;
    bottom: 0px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,110,132,1.00) 13.47%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,110,132,1.00) 13.47%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,110,132,1.00) 13.47%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(100,110,132,1.00) 13.47%);
    width: 101%;
    height: 40px;
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
    display: block;
    margin-left: -10px;
    padding-bottom: 20px;
}
h3 {
    font-size: 30px;
    display: block;
    text-align: center;
    background-attachment: fixed;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bolder;

}
.Alice {
    width: 60%;
    text-align: center;
    margin-left: 15%;
    margin-top: 0px;
    float: left;
    display: block;
    background-attachment: fixed;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-right: 15%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
p {
    display: block;
    padding-right: 0px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
}
header {
    font-size: 0px;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    font-style: italic;
    background-color: #FFFFFF;
    text-align: center;
}
.navbar {
    text-align: center;
}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
    color: #000000;
    text-align: center;
    font-style: italic;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    font-style: italic;
    font-weight: 600;
}
nav {
    background-color: #FFFFFF;
}
nav ul li {
    display: inline-block;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
}
nav ul {
    padding: 0;
    text-align: center;
}
nav ul li a:hover {
    color: #C7C7C7;
}







@media (max-width: 700px){
.Alice {
    width: 90%;
    text-align: center;
    margin-left: 15%;
    margin-top: 0px;
    float: none;
    display: block;
    background-attachment: fixed;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    margin-right: 15%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
header {
    font-size: 0px;
    text-align: center;

}
h1 {
    margin-top: 92px;
    text-align: center;
    padding-left: 0px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 7.8em;
}


}

@media (max-height:500px){
header {
    font-size: 0px;
    text-align: center;
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    margin-left: 18px;
}
}
